.input-number{
  
    width: 50px !important;
    text-align: center!important;
    font-weight: bold!important;
    font-size: 25px!important;
    height: 40px!important;
    border:none!important;
    border-bottom: solid 2px #007bff!important;
    box-shadow: none!important;
    position:relative;
}
.input-container{
    position: relative;
    height: 40px;
    display: block; 
    margin: 0 15px;
}
.input-container:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 10px;
    background-color: #007bff!important;
    z-index:10;
}
.input-container:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2px;
    height: 10px;
    background-color:#007bff!important;
    z-index:10;
}
.btn-number{
    border-radius: 50%!important;
    background-color: #007bff!important;
    color: #fff!important;
    outline: none!important;
    font-size: 25px!important;
    padding: 3px!important;
    width: 40px;
    height: 40px;
    
}