button{
    width: 360px;
    height: 460px;
    background: url('../boys.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}
button:hover{
  transform: scale(1.2);
}